.nav-item:hover {
    background: #f3f4f6;
}

.nav-item svg,
.nav-item .nav-icon {
    width: 24px;
    height: 24px;
}

.nav-item .nav-icon {
    object-fit: contain;
    display: inline-block;
}

.section-divider {
    border-top: 2px solid black;
    margin-top: 20px;
    padding-top: 15px;
}

/* Ocultar secciones de admins */
#section-publicar,
#section-admtools {
    display: none;
}
/* Fin ocultar secciones de admins */